
:root{
--pink: #ebb5ac;
--white: #FFF;
--black: #000;


}


.display{
    display: flex;
    justify-content:space-evenly;
    padding-top: 50px;
    margin: o auto;
   
   
  
}
.display #card:hover {
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px rgb(116, 112, 112);
}


figure {
    width: 330px;
    margin: 0;
  
  

}
figcaption {
    padding: 10px;
}
.image {
    position: relative;
    transition: all 0.5s ease-in-out;
    height: 400px;
   
}

.image img{
    width: 100%;
    transition: all 0.5s ease-in-out;
    position: absolute; 
    padding: 10px;
  
}
.image span {
    background: #f34723;
    color: #fff;
    position: absolute;
    right: 20px;
    bottom: 5px;
    padding: 5px;
}
.image:hover  .image-2{
    transition: all 0.5s ease-in-out;
      visibility: hidden;
      opacity: 0;
   
}
.icon-img{
    position: absolute;
    width: 35px;
    right: 30px;
    left: auto;
    top: 20px;
    bottom: auto;
    /* margin: 10px 0; */
}
.icon-img i{
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
    margin: 5px;
}
.icon-img i:hover{
    /* background: var(--pink); */
    background-color:pink;
    border-radius: 45px;

    /* padding: 10px;
    margin: 10px 0; */
}



}

.icon-img i{
    background: #fff;
    border: 3px solid #fff;
    border-radius: 45px;
    padding: 10px;
    margin: 10px 0;
}
.icon-img:hover .icon-hidden i{
    opacity: 1;
    transition: 0.5s;
    
    
}


.icon-hidden i{
    opacity: 0;
}


#card:hover a{
    background: #ebb5ac;
    color: black;
    opacity: 1;
}
 /* .text a:hover{
     opacity: 0;
    background: #ebb5ac;
    color: #000;
    visibility: visible; } */


.icon{
    padding-top: 20px;
    margin: 10px;
}
.icon i[type="pink"]{
   color: #ebb5ac;
}
.icon i[type="gray"]{
    color: rgba(128, 128, 128, 0.788);
 }
.text{
    padding-top: 20px;
  
}
.text h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(82, 79, 79);
    font-weight: 400;
    margin: o 15px;
    padding: 15px 0;
    letter-spacing: 2px;
}
.text h3:hover {
    color: #ebb5ac;
}
.text p{
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(20, 19, 19);
    font-weight: 400;
    width: 90%;
    padding: 20px 0;
   
}
.text p s {
    color: rgb(82, 79, 79);
}
.text a {
   
    background: #ebb5ac;
    color:#000;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 18px;
   font-weight: 700;
   opacity: 0;

}
#card a:hover {
   
    background: black;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 18px;
   font-weight: 700;
   
}
